@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

:root {
    --font-family: 'Amarante', 'Arial', serif;

    --main-color: #00454B;
    --selection-color: #FF9608;
    --hover-link-color: #F9C784;

    --title-color: #001524;
    --title-card-color: #212529;

    --red-color: #8C1C13;
    --hover: #ffffff;
    --mid-blue: #577590;
    --mid-green: #006D77;

    --gray-mid: #F5F5F5;
    --gray-selection: #DEE2E6;
    --dark-gray: #6C757D;
}

#sa {
    display: flex;
    flex-direction: row;
}

.forgot-text{
    color: var(--gray-mid);
}

.custom-toggler.navbar-toggler {
    border-color: var(--hover);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("../assets/cooking_hat.svg");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

    --bs-body-font-family: var(--font-family);
}

nav {
    z-index: 5;
    background-color: var(--main-color);
}

section {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    flex: auto;
}

.home-image {
    max-width: 600px;
}

.text-multiline {
    overflow: hidden;
    white-space: normal;
    max-width: 100%;
}

.nav-item>.nav-link {
    color: white;
}

.nav-link:hover {
    color: var(--hover-link-color);
}

.nav-item>.nav-link.active {
    color: var(--selection-color);
}

.home {
    background-image: url("../assets/background.svg");
    background-size: cover;
    background-position: center center;
}

.objetives {
    background-image: url("../assets/background_2.svg");
    background-size: cover;
    background-position: center center;
}

.about-us {
    background-image: url("../assets/background_3.svg");
    background-size: cover;
    background-position: center center;
}

.btn {
    color: white;
    width: 150px;
    --bs-btn-hover-bg: var(--hover);
}

.btn.green {
    --bs-btn-bg: var(--mid-green);
}

.btn.blue {
    --bs-btn-bg: var(--mid-blue);
}

.goDown {
    color: var(--main-color);
    font-size: 26px;
    animation: bounce 1.2s ease infinite;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 4px 40px 0px rgba(66, 71, 76, 0.15);
}

.goDown.alternative {
    color: white;
    background-color: var(--main-color);
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.card {
    border: 2px solid;
    border-radius: 5px;
    border-color: var(--main-color);
}

.card-feature {
    height: 160px;
    padding: 6px;
    border: 2px solid;
    border-radius: 15px;
    border-color: var(--main-color);
}

.card-feature img {
    object-fit: cover;
}

.scaled-image {
    transform: scale(.65);
    max-width: 600px;
}

.person-card {
    max-width: 290px;
    min-width: 200px;
    max-height: 450px;
    min-height: 400px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-bottom: 12px;
    margin-right: 8px;
    margin-left: 8px;
}

.team {
    margin-top: 60px;
}

.icon {
    color: black;
    font-size: 26px;
    margin-left: 6px;
    margin-right: 6px;
}

.person-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.cooking-hat {
    position: absolute;
    z-index: 1;
    left: 90px;
    top: -80px;
}

.wooden-spoon {
    position: absolute;
    z-index: 1;
    left: -10px;
    top: 20px;
    transform: scale(0.80);
}

.description {
    margin-top: 26px;
    margin-bottom: 106px;
    margin-left: 6px;
    margin-right: 6px;
}

.carousel-inner {
    height: 600px;
    display: flex;
    align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 64px;
    width: 64px;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 36px;
    color: var(--main-color);
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 36px;
    color: var(--main-color);
}

.model-section>label {
    margin-bottom: 0.5em;
    font-size: large;
}

.modal-header {
    border-color: var(--main-color);
    border-width: 3px;
}

.modal-footer {
    border: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.forgot-password-link {
    text-decoration: underline;
    color: var(--main-color);
}

/* Side Menu */
.side-menu {
    width: 300px;
    box-shadow: 0px 4px 40px 0px rgba(66, 71, 76, 0.15);
    transition: width ease-out 150ms;
}

.side-menu img:nth-child(2) {
    display: none;
}

.side-menu .nav-link span {
    animation: fadeOut 150ms;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.side-menu>.badge {
    background-color: var(--main-color);
    min-height: 95px;
}

.side-menu>hr {
    border: none;
    border-top: 2px solid var(--main-color);
    opacity: 1;
    width: 40%;
    border-radius: 5px;
}

.side-menu button.hamburger {
    color: black;
    border: #CED4DA 2px solid;
    border-radius: 5px;
    background-color: white;
}

/* Selection Color */
.side-menu .nav-link.active {
    color: white;
    background-color: var(--mid-green);
}

.side-menu .nav-link {
    color: var(--main-color);
}


.side-menu .nav-link.exit {
    color: var(--red-color);
}

.side-menu button {
    border: none;
}

/* Side Menu Compact */
.side-menu.compact {
    box-shadow: 0px 4px 40px 0px rgba(66, 71, 76, 0.15);
    width: 120px;
}

/* Header */

.side-menu.compact img:nth-child(1) {
    display: none;
}

.side-menu.compact img:nth-child(2) {
    display: block;
}

.side-menu.compact ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu.compact ul .nav-link>i {
    margin: 0 !important;
}

.side-menu.compact .side-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu.compact .side-footer .nav-link>i {
    margin: 0;
}

.side-menu.compact .nav-link span {
    animation: fadeIn 150ms;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: none;
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.text-field {
    background-color: var(--gray-mid);
    display: flex;
    max-height: 50px;
    border-radius: 5px;
    border: 2px solid var(--gray-selection);
    padding: 0 16px;
}

.text-field>input {
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
    height: 50px;
}

.text-field span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-field span>button {
    outline: none;
    border: none;
    background-color: transparent;
}

/* Selector */
.selector {
    position: relative;
    display: flex;
    gap: 24px;
}

.selector .selector-element {
    color: var(--dark-gray);
    width: 114px;
    height: 43px;
    border: 2px solid var(--gray-selection);
    border-radius: 6px;
    padding: 6px;
    text-align: center;
}

.selector-frame {
    position: absolute;
    border: 2px solid var(--dark-gray);
    border-radius: 6px;
    width: 114px;
    height: 43px;
    background-color: transparent;
    transition: all 150ms ease-in-out;
}

/* Sections Dashboard */
.editImageWrapper {
    position: relative;
    display: inline-block;
}

.editImage {
    color: var(--main-color);
    font-size: 24px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    box-shadow: 0px 4px 40px 0px rgba(66, 71, 76, 0.15);
    z-index: 6;
    cursor: pointer;
}

.inputImage {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display:none;
}

.buttonTransparent { 
    border: none;
    background-color: transparent;
}

.title {
    color: var(--title-color);
}

.scrollDashboardSpace {
    height: calc(100% - 9rem);
    width: calc(100% - 4rem);
}

.scrollDashboardSpaceAdmin {
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
}

.line {
    height: 4px;
    background-color: var(--title-color);
    width: 50%;
    margin: 0 auto;
    border-radius: 2px;
}

.goBack {
    color: var(--main-color);
    font-size: 26px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 4px 40px 0px rgba(66, 71, 76, 0.15);
    transform: rotate(90deg);
}

.infoImage {
    width: 580px;
    height: 280px;
    margin: 4px;
    object-fit: cover;
    object-position: center center;
    border-radius: 1%;
}

/* Tendencies Section */
.cardItem {
    width: 380px;
    min-width: 380px;
    height: 413px;
    min-height: 413px;
    border: 1px solid var(--dark-gray);
    margin: 4px;
    cursor: pointer;
}

.cardItem img {
    height: 60%;
    object-fit: cover;
    object-position: center center;
}


.cardItem .card-title {
    color: var(--title-card-color);
}

.cardItem .card-text {
    color: var(--dark-gray);
}

.cardItem a {
    color: var(--title-card-color);
    height: 24px;
    width: 24px;
}

/* My Recipes Page */
.create {
    color: var(--main-color);
    font-size: 36px;
    background-color: white;
    position: fixed;
    bottom: 46px;
    right: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0px 4px 40px 0px rgba(66, 71, 76, 0.15);
}

/* Tables */

th {
    text-align: center;
    border: 1px solid var(--gray-selection);
}

td {
    text-align: center;
    padding: 2px;
    border: 1px solid var(--gray-mid);
}

.table-container {
    position: relative;
    width: 95%;
}

.table-description {
    max-width: 600px; 
    word-break: break-all;
}

.profile-description {
    max-width: 800px;
    word-break: break-all;
}

.remove {
    size: 24px;
    color: var(--red-color);
}

.editIcon {
    size: 24px;
    color: var(--mid-blue);
}

.selectionIcon {
    size: 24px;
    color: var(--selection-color);
}

.add {
    color: var(--main-color);
    font-size: 24px;
    background-color: white;
    position: absolute;
    bottom: 6px;
    right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0px 4px 40px 0px rgba(66, 71, 76, 0.15);
}

/* Details Recipe */

.tip{
    min-height: 55px;
    max-width: 600px;
    margin-top: 1px;
    word-break: break-all;
}

.tipInput {
    display: none;
}

.tipImage {
    width: 460px;
    height: 280px;
    margin: 2px;
    object-fit: cover;
    object-position: center center;
    border-radius: 1%;
}

.imageTipContainer {
    width: 475px;
    height: 295px;
    background-color: var(--gray-mid);
    margin: 2px;
    object-fit: cover;
    object-position: center center;
    border-radius: 1%;
    border: 1px solid var(--gray-selection);
}

.imageTipContainer.creator {
    width: 475px;
    height: 330px;
}

.hidden-submit {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.detailsDescriptionWidth {
    max-width: 700px;
    word-break: break-all;
}

.link {
    color: var(--main-color);
}

.buttonOptions {
    background-color: var(--gray-mid);
    border-radius: 5px;
    border: 2px solid var(--gray-selection);
}

.orangeText {
    color: var(--selection-color);
}

.backgroundTransparent {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--gray-selection);
}

.addButton {
    width: 50px;
    height: 50px;
}

.edit {
    color: var(--main-color);
    font-size: 36px;
    background-color: white;
    position: fixed;
    top: 46px;
    right: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0px 4px 40px 0px rgba(66, 71, 76, 0.15);
    z-index: 6;
}

.send {
    size: 24px;
    color: var(--main-color);
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 4px 40px 0px rgba(66, 71, 76, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 2px solid var(--main-color);
}

.delete {
    color: var(--main-color);
    font-size: 36px;
    background-color: white;
    position: fixed;
    top: 46px;
    right: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0px 4px 40px 0px rgba(66, 71, 76, 0.15);
    z-index: 6;
}

/* Profile Section */

.profileImage {
    width: 300px;
    height: 280px;
    margin: 4px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}

.editProfileImage {
    width: 80px;
    height: 80px;
    margin: 4px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}

.editProfileImageAdmin {
    width: 160px;
    height: 160px;
    margin: 4px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}

/* Toast */
.toast {
    top: auto;
    left: auto;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    position: fixed;
    color: white;
    border-radius: 7px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 30px 35px 30px 25px;
    min-width: 580px;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.toast.active {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
}

/* TODO: MAKE THIS HAPPEN */
.toast .close {
    z-index: 6;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    display: none;
}

.toast.error {
    background-color: var(--red-color);
}

.toast.warning {
    background-color: var(--selection-color);
}

.toast.success {
    background-color: var(--mid-green);
}

@media screen and (max-width: 767px) {
    .toast {
        font-size: 14px;
        padding: 20px;
        margin: auto auto;
        min-width: calc(100% - 35px);
        transform: translateY(calc(100% + 30px));
        transition: all 0.5s ease-in-out;
    }

    
    .toast.active {
        transform: translateY(0%);
    }
}

@media (max-width: 767px) {
    .side-menu {
        width: 100%;
        z-index: 11;
    }

    .side-menu.compact {
        width: 100%;
        display: none;
        box-shadow: 0px 4px 40px 0px rgba(66, 71, 76, 0);
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
    }

    .side-menu.compact .nav-pills {
        display: none;
    }

    .side-menu.compact .hamburger {
        display: block;
    }

    .side-menu:not(.compact) .nav-pills {
        flex-direction: column;
        padding: 10px;
        display: flex;
    }

    .side-menu.compact .nav-link.exit {
        display: none;
    }

    .side-menu>hr {
        display: none;
    }

    .side-menu.compact>.badge {
        background-color: var(--hover);
        min-height: 0px;
        height: 0px;
        display: none;
    }

    .side-menu.compact img:nth-child(2) {
        display: none;
    }

    .delete {
        position: absolute;
        font-size: 36px;
        top: 124px;
        right: 26px;
        width: 64px;
        height: 64px;
    }

    .edit {
        position: absolute;
        font-size: 36px;
        top: 46px;
        right: 26px;
        width: 64px;
        height: 64px;
    }

    main {
        flex: 1;
        overflow-y: auto;
    }

    #sa {
        display: flex;
        flex-direction: column;
    }

    .scrollDashboardSpace {
        height: calc(100% - 16rem);
        width: 100%;
    }

    .scrollDashboardSpaceAdmin {
        height: calc(100% - 6rem);
        width: 100%;
    }
}