{% extends 'secure/dashboard.twig' %}
{% block title %} Bem vindo! {% endblock %}

{% block outlet %}
<div class="flex-column vw-100 vh-100">
    <main class="overflow-auto d-flex flex-column ms-5 gap-3 py-4 scrollDashboardSpaceAdmin">
        <!-- Charts -->
        <!-- TODO: GRÁFICOS E PESQUISAS PARA TODOS OS MENUS NO ADMIN -->
        <div class="container">
            <h2 class="title">Gráficos</h2>
            <canvas id="myChart"></canvas>
        </div>
    </main>
</div>
<script src="{{ loadJs('search.js') }}"></script>
<script src="{{ loadJs('selector.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ loadJs('charts.js') }}"></script>
{% endblock %}